*.py[co]
__pycache__/

/MANIFEST
/build/
/dist/
/docs/_build/
/*.egg-info/
/*.egg
/.eggs/

/.venv/
/.pytest_cache/
/.coverage
/.coverage.*
/htmlcov/
/.tox/

.ipynb_checkpoints/

Thumbs.db

/scripts/*.csv
/scripts/*.cxt
/test-output/
/visualize-output/
