include README.rst LICENSE.txt CHANGES.rst
include requirements.txt
include run-tests.py visualize-examples.py
include tox.ini
recursive-include docs *.rst *.txt *.py *.png *.svg
prune docs/_build
recursive-include examples *.cxt *.csv *.txt *.json *.ipynb
recursive-include profile *.py *.cxt
recursive-include scripts *.py
recursive-include tests *.py
