include README.rst LICENSE.txt CHANGES.txt
include requirements.txt
include run-tests.py visualize-examples.py
include tox.ini
recursive-include tests *.py
recursive-include examples *.cxt *.csv *.txt
recursive-include docs *.rst *.txt *.py *.png *.svg, *.ipynb
prune docs/_build
recursive-include profile *.py *.cxt
