include README.rst LICENSE CHANGES
include requirements.txt
include run-tests.py visualize-examples.py
recursive-include docs *.rst *.txt *.py *.png *.svg
recursive-include examples *.cxt *.csv *.txt
recursive-include profile *.py *.cxt
recursive-include tests *.py
